{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración Cake House</title>
    <link rel="stylesheet" href="{% static 'admin.css/' %}">
</head>
<body>
    {% if perms %}
    <h1 id="agregar">Añadir Producto</h1>
<div id="contenedor">
    {% comment %} FORMULARIO {% endcomment %}
    <form id="formulario1" action="{% url 'nuevo' %}" method="POST">
        {% csrf_token %}
        <label for="imagen">Url de la Imagen:</label>
        <input type="text" id="imagen" name="imagen">

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo">

        <label for="precio">Precio:</label>
        <input type="number" id="precio", name="precio">

        <label for="desc">Descripción:</label>
        <input type="text" id="desc" name="desc">

        <button id="agregar1">Añadir Producto</button>
    </form>

    <div class="tarjetas1">
        {% comment %} ELIMINAR {% endcomment %}
        {% for producto in Productos %}
            <div id="tarjeta{{forloop.counter}}" class="tarjeta" method="POST">
                <h3 style="display: none">{{producto.imagen}}</h3>
                <h3>{{producto.titulo}}</h3>
                <h3 style="display: none">{{producto.precio}}</h3>
                <h3 style="display: none">{{producto.descripcion}}</h3>

                <form action="{% url 'eliminado' producto.id %}" method="GET">
                {% csrf_token %}
                    <button class="tButton">Eliminar</button>
                </form>
                    <button class="tButton" type="submit" onclick="Actualizar({{forloop.counter}}, {{producto.id}})">Actualizar</button>
            </div>
        {% endfor %}
    </div>


    <script>
        const tarjetas = document.querySelectorAll(".tarjeta")
        const form = document.querySelector("#formulario1")
        const formInputs = [...document.querySelectorAll("#formulario1 input")]
        const agregar = document.querySelector("#agregar1")

        const Actualizar = (id, productoId) => {
            const tarjetaUnica = [...document.querySelectorAll(`#tarjeta${id} h3`)]
            for(let i = 0; i <= 3; i++) {
                formInputs[i+1].value = tarjetaUnica[i].textContent
            }
            agregar.textContent = "Actualizar"
            form.action = `/cake/actualizado/${productoId}/`    
        }
    </script>
    {% else %}
    <h1>No tienes Permisos de Administrador</h1>
</div>
    {% endif %}
</body>
</html>