{% extends 'cake/plantilla.html' %}
{% load static %}

{% block titulo %}Menú Cake House{% endblock titulo %}

{% block css %}
    {% static 'styleMenu.css/' %}
{% endblock css %} 


{% block contenido %}
<main>

    <nav class="navegador_tienda">
        <a href="#todo">Todo</a>
        <a href="#tradicionales">Tradicionales</a>
        <a href="#cheseCake">Cheese Cake</a>
        <a href="#cupCakes">Cup Cakes</a>
        <a href="#especiales">Especiales</a>
        <!-- <a href="#">Diseña Tu Pastel</a> -->
    </nav>
    {% comment %} <div class="buscador">
        <div class="box">
            <form action="">
                <input type="text" placeholder="Producto especifico">
                <input type="submit" value="Buscar">
            </form>
        </div>
    </div> {% endcomment %}
   
    <div class="contenedor_general">
        <div class="container" id="todo">
            <h3 class="title"> Todos nuestro productos </h3>
            <div class="products-container">
         {% comment %} PRODUCTO {% endcomment %}
            {% if lista_pasteles %}

               {% for pastel in lista_pasteles %}
                  <div class="product" data-name="{{pastel.id}}">
                     <img src="{{pastel.imagen}}" alt="">
                     <h3>{{pastel.titulo}}</h3>
                     <div class="price"> {{pastel.precio}}$</div>
                  </div>
               {% endfor %}

            {% else %}
            <div>
              <h1 class="no_disponible">Sin productos disponibles</h1>
            </div>
            {% endif %}
         
            </div>
        </div>
        {% comment %} CARTA - DESCRIPCION {% endcomment %}
         <div class="products-preview">


            {% for pastel in lista_pasteles %}
            
               <div class="preview" data-target="{{pastel.id}}">
                  <i class="fas fa-times"></i>
                  <img src="{{pastel.imagen}}" alt="" class="producto-imagen">
                  <h3 class="productoTitulo">{{pastel.titulo}}</h3>
                  
                  <p>{{pastel.descripcion}}</p>
                  <div class="price">{{pastel.precio}}$</div>
                  <i class="fa-solid fa-cart-arrow-down add-cartt"></i>
               </div>

            {% endfor %}


         </div>
    </div>   
</main>
{% endblock contenido %}

{% block script %}
    {% static 'menuScript.js/' %}
{% endblock script %}
