{% extends 'cake/plantilla.html' %}
{% load static %}

{% block css %}
    {% static 'info.css/' %}
{% endblock css %} 

{% block titulo %}
    Informacón
{% endblock titulo %}

{% block contenido %}
<main class="info">
    <div class="infoContainer">
        <div class="infoImg"><img src="https://us.123rf.com/450wm/undrey/undrey1904/undrey190400021/123347563-grupo-de-diversas-personas-felices-muti%C3%A9tnicas-de-pie-juntos.jpg?ver=6" alt=""></div>
        <div class="information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, iste earum! Cumque dolor harum consectetur dignissimos deleniti deserunt impedit illo, ea dicta fugiat optio placeat hic error at blanditiis. Voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestiae dolore officiis eaque deserunt voluptates optio aut recusandae nam est facere, dignissimos, delectus, sint nulla quas quisquam accusantium? Nemo, iusto! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta rerum vitae voluptate eos minima! Perspiciatis cumque voluptate beatae fugit iure animi eos, consectetur dolores sed dicta corrupti sunt quaerat architecto.</div>
    </div>
</main>
{% endblock contenido %}