{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="https://kit.fontawesome.com/8e5e9f9afd.js" crossorigin="anonymous"></script>

</head>
<body>
    <form class="formulario" action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <h1>Inicia Sesión</h1>
        <div class="contenedor">
            <div class="input-contenedor"> 
                <i class="fa-solid fa-user  icon"></i>
                <input type="text" placeholder="Nombre de usuario" name="username">
            </div>
            <div class="input-contenedor"> 
                <i class="fa-solid fa-key icon"></i>
                <input type="password" placeholder="Contraseña" name="password">
            </div>
            
           <input type="submit" value="Iniciar Sesión" class="button">
           <p>Hola de nuevo</p>
           <p>Aun no tienes cuenta  <a href="{% url 'registro' %}" class="link">Registrate</a></p>
        </div>
    </form>  
    <script src="./JS/login.js"></script>
</body>
</html>