{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock titulo %}</title>
    <link rel="stylesheet" href= "{% static 'stylePlantilla.css/' %}">
    <link rel="stylesheet" href= {% block css %}{% endblock css %}"">
    <script src="https://kit.fontawesome.com/ce60eb93cd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="contenedorHeader">
            <div class="logo">
                <h1 style="font-family: 'Pacifico', cursive">Cake House</h1>
            </div>
            <div class="logIn">
                <a href="/cake/login/" class="linkLogIn">
                    <i class="fa-solid fa-user"></i>
                    <p>Log In</p>
                </a>
            </div>
            <div class="Carrito">
                <a href="#">
                    <!-- <p>2</p> -->
                    <i class="fa-solid fa-bag-shopping" id="carrito_icono"></i>   
                </a>
                <!-- carrito -->
                <div class="carritoCompra">
                  <h2 class="carrito-titulo">Tu carrito</h2>
                  <div class="carrito-contenido">
                     
                  </div>
                  <!-- total -->
                  <div class="total">
                     <div class="titulo-total">total</div>
                     <div class="precio-total">$0</div>
                  </div>
                  <!-- Boton de comprar -->
                  <button type="button" class="btn-comprar">Guardar en pedido</button>
                  <!-- Cerrar Carrito -->
                  <i class="fa-solid fa-circle-xmark" id="cerrar-carrito"></i>
                </div>              
            </div>
        </div>
    </header>
{% comment %} navegador {% endcomment %}
    <nav class="navegador_principal">
        <a href="{% url 'inicio' %}" class="botonInicio">Inicio</a>
        <a href="{% url 'index' %}" class="botonTienda">Tienda</a>
        <a href="{% url 'info' %}" class="botonInformacion">Informacion</a>
        <a href="" class="botonPedidos">Pedidos</a>
    </nav>

    {% block contenido %}
    {% endblock contenido %}

    <footer>
        <div class="footerContenedor">
            <div class="direccion">
                <h2>Direccion</h2>
                <p>.</p>
            </div>
            <div class="Horario">
                <h2>Horarios</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, sunt nisi vero iure recusandae maiores quos rerum inventore? Officia, quasi quam. Molestiae itaque repellendus enim aliquam a rerum reiciendis fugiat.</p>
            </div>
            <div class="Contactos">
                <h2>Contactanos</h2>
                <div class="iconos">
                    <a href="https://www.facebook.com/Cake-House-103840158046832/" target="_blank" class="fa-brands fa-facebook-square"></a>
                    <a href="https://www.instagram.com/cake_house05/" target="_blank" class="fa-brands fa-instagram-square"></a>
                    <a href="https://wa.link/j2ged4" target="_blank" class="fa-brands fa-whatsapp-square"></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% block script %}{% endblock script %}"></script>
</body>
</html>