*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    transition: all .2s linear;
}

.pantalla{
    display: flex;
    justify-content: center;

}
.contenedor{
    width: 100%;
    padding: 15px;
    
}

.formulario{
    margin-top: 10vh;
    margin-left: 30vw;
    padding: 20px;
    width: 40%;
    text-align: center;
    border: 5px solid #F59FBC;
    box-shadow: -8px 8px 9px -7px rgba(0,0,0,0.9);
-webkit-box-shadow: -8px 8px 9px -7px rgba(0,0,0,0.9);
-moz-box-shadow: -8px 8px 9px -7px rgba(0,0,0,0.9);
}

h1{
    text-align: center;
    color: #583E3F;
    font-size: 40px;
}

input[type="text"],input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border:solid 2px #fad398;

}

.input-contenedor{
    margin-bottom: 15px;

}

i{
    min-height: 50px;
    text-align: center;
    color: #583E3F;
}

.button{
    border: none;
    width: 40%;
    background-color: #583E3F;
    color: #F59FBC;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    cursor:pointer;
}

.button:hover{
    background: #F59FBC;
    color: #583E3F;
}

p{
    margin-top: 20px;
    text-align: center;
}

.link{
    color: #583E3F;
    font-weight: 600;
}

.link:hover{
    color: #fad398;
}

@media (min-width:768) {
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}