.contenedorPedido{
   display: flex;
   justify-content: center;
   margin-top: 3rem;
   
}

.pedido{
   width: 40%;
   
   
   margin-left: 50px;
   padding: 10px;
}

.detallePedido{
   background-color: #fff;
}
.detallePedido p{
   margin-top: 1.5rem;
}

.formaPago{
   margin-top: 1.5rem;
   border: solid 2px #583E3F;
   padding: 50px;
}

.formaPago form {
   margin-top: 1rem;
}

.formaPago p{
   margin-top: 1rem;
   margin-bottom: 1rem;
   line-height: 1.9;
}
.formaPago button{
   margin-top: 1rem;
   text-decoration: none;
   color: #F59FBC;
   background-color: #583E3F;
   font-size: 1.5rem;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   padding: 20px;
   margin-left: 35%;

}


.crearFactura p{
   margin-top: 1rem;
}
.crearFactura .direccion{
   width: 100%;
}

.crearFactura input{
   text-align: center;
   margin-top: 1rem;
   font-size: 1rem;
   padding: 1rem;
   /* width: 90%; */
   border-radius: 45px;
   border: 1px solid #F59FBC;
}

.crearFactura button{
   margin-top: 1rem;
   font-size: 1rem;
   padding: 1rem;
   width: 100px;
   color: #583E3F;
   background-color: #F59FBC;
   border: none;
   border-radius: 45px;
   cursor: pointer;
   width: 70%;
   
}
.facturaCreada{
   margin-top: 5rem;
}


/**Navegador general**/

.navegador_principal{
   font-family: 'Fjalla One', sans-serif;
   font-size: 1.5em;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   justify-items: center;
   margin-top: 3%;
}

.navegador_principal a{
   color: #583E3F;
}
.botonInformacion {
   text-decoration: none;
}
.botonInicio:hover  {
   text-decoration: underline;
}
.botonTienda:hover{
   text-decoration: underline;
}
.botonInicio:hover{
   text-decoration: underline;
}
.botonInformacion:hover {
   text-decoration: underline;
}
.botonPedidos {
   text-decoration: underline;
}

/* ............ */
#tarjeta{
   background-color: #fad398;
   border: 3px solid #583E3F;
   margin: 10px 0 20px 0;
   padding: 2rem;
   border-radius: 45px;
   
}

#tarjeta h3{
   color: #583E3F;
}

hr{
   border: 3px dashed rgba(165, 42, 42, 0.13);
}

.botonfactura {
   /* position: relative; */
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color:#583E3F;
   color: #F59FBC;
   margin: 1rem auto 0;
   width: 10rem;
   /* margin-left: 40%; */
   padding: 13px;
   border-radius: 45px;
   font-weight: 500;
   border: none;
}

.botonfactura:hover{
   background-color: #F59FBC;
   color: #583E3F;
}